.product-display-container {
    display: flex;
    position: relative;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

.product-display-container img {
    width: 80px;
}

.product-display-price {
    position: absolute;
    font-weight: bold;
    bottom: 0;
    right: 0;
}