.field-label,
.field-sub-text {
    display: block;
}

.account-field {
    width: 100%;
    height: 30px;
}

.account-input-area {
    position: relative;
    margin: 15px 0px;
}

.password-visibility-button {
    position: absolute;
    right: 0;
    top: 27px;
    height: 24px;
    width: 24px;
}