.cart-main {
    display: flex;
    max-width: 1024px;
    margin: auto;
    gap: 20px;
    padding: 20px;
}

#cart-screen-left-sub-container {
    padding-right: 5px;
    padding-left: 35px;
    min-height: 480px;
}

.cart-items-container {
    overflow-y: scroll;
    height: 450px;
    padding-left: 30px;
}

.out-of-stock-notice {
    background: lightgray;
    position: relative;
    padding: var(--large-container-padding);
    display: flex;
    align-items: center;
    gap: 10px;
}

.close-x {
    position: absolute;
    right: calc(var(--large-container-padding) - 8px);
    top: calc(var(--large-container-padding) - 8px);
    font-size: var(--font-size-20);
}

.out-of-stock-exclamation {
    font-size: var(--font-size-24);
}

.cart-column-labels {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.cart-products-flex {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
    align-items: center;
}

.cart-products-flex div {
    flex: 1;
}

.cart-products-flex div:first-child {
    flex: 2;
    text-align: left;
}

.cart-price-breakdown-row {
    display: flex;
    justify-content: space-between;
}

.reset-cart-button {
    margin: auto;
    display: block;
    width: 300px;
    height: 30px;
    border: none;
    cursor: pointer;
}