.credit-card-logo {
    position: absolute;
    right: 3px;
    top: 20%;
    width: 30px;
}

#field-row-expiryMonth,
#field-row-expiryYear {
    display: inline-block;
}

#field-row-expiryMonth {
    margin-right: 10px;
}

#payment-info-screen .nav-forward-button {
    position: static;
    margin-left: 137px;
    width: 200px;
    display: block;
    margin-top: 35px;
}

#payment-info-screen select {
    width: 100px;
}

#field-row-cardholder .field-row-input-container,
#field-row-cardNumber .field-row-input-container,
#field-row-securityCode .field-row-input-container {
    display: inline-block;
    width: 300px;
}

#field-row-securityCode .field-row-input-container {
    width: 80px;
}

#field-row-cardholder input,
#field-row-cardNumber input,
#field-row-securityCode input {
    width: 100%;
}

.security-code-question-area {
    position: absolute;
    top: 0;
    right: -30px;
    transform: translateY(50%);
}

.security-code-question-area button {
    background: none;
    border: none;
    cursor: pointer;
}

.security-code-question-message {
    position: absolute;
    top: -21px;
    left: 36px;
    box-shadow: 0 0 5px grey;
    padding: 5px;
    width: 138px;
}