.account-management-container {
    max-width: 300px;
    margin: auto;
    position: relative;
}

#field-row-modeSignIn,
#field-row-modeCreateAccount {
    display: inline-flex;
}

.account-management-container .field-row-input-container {
    order: -1;
    display: block;
}

.account-management-container input[type="text"] {
    width: 100%;
}

.account-management-container .field-row {
    margin: 10px 0;
}

.account-management-container .field-row-input-error {
    position: static;
}

.account-management-container .field-row-display-text {
    display: initial;
    width: initial;
}

.error-text {
    right: 0;
    top: 0;
    color: red;
}

.account-buttons-container {
    position: relative;
    text-align: center;
}

.nav-forward-button.account-button {
    position: static;
    width: 100%;
}

#facebook-button {
    background-color: rgb(50, 100, 175);
}

#facebook-button:hover {
    background-color: rgb(72, 127, 209);
}