.account-management-container {
    width: 450px;
    margin: auto;
    position: relative;
}

#field-row-modeSignIn,
#field-row-modeCreateAccount {
    display: inline-flex;
}

.account-management-container .field-row-input-container {
    order: -1;
    display: block;
}

.error-text {
    right: 0;
    top: 0;
    color: red;
}

.absolute {
    position: absolute;
}