.summary-sidebar-main {
    position: relative;
    box-shadow: 0px 0px 10px lightgrey;
    padding: 15px;
    width: 240px;
}

.sidebar-products-container {
    overflow-y: scroll;
    height: 180px;
    margin-bottom: 10px;
}

.cart-counter {
    padding: 10px 0;
}

#promo-code-container {
    padding: 10px 0;
}

#promo-code-flex-container {
    display: flex;
    gap: 10px;
}

#promo-code-container input,
#promo-code-container button {
    display: block;
}

#promo-code-container input[type="text"] {
    width: 100%;
}

.info-review-container {
    padding: 10px 0;
    position: relative;
}

.info-review-name {
    text-transform: uppercase;
    font-weight: bold;
}

.info-review-description {
    margin-left: 10px;
}

#sidebar-card-logo {
    position: static;
    vertical-align: middle;
    margin-right: 3px;
}

.fake-link-button {
    color: var(--button-color-1);
    background: none;
    border: none;
    position: absolute;
    cursor: pointer;
    text-decoration: underline;
    font-size: var(--font-size-12);
}

.sidebar-modal-button {
    top: 10px;
    right: 0;
}