.field-row-input-error {
    position: absolute;
    left: 0;
    color: red;
    font-size: 0.8rem;
    top: 20px;
}

.field-row {
    margin: 18px 0px;
}

.field-row-input-container {
    position: relative;
}

.field-row-display-text {
    display: inline-block;
    width: 135px;
}