:root {
    --space-between-fields-horz: 20px;
    --field-width-1: 80px;
    --field-width-2: 100px;
    --field-width-3: 160px;
    --field-width-4: 300px;

    --font-size-14: 0.875rem;
    --font-size-20: 1.25rem;

    --button-color-1: rgb(215, 39, 72);
    --button-color-1-hover: rgb(255, 64, 99);
    --facebook-color-1: rgb(50, 100, 175);
    --facebook-color-1-hover: rgb(72, 127, 209);
    --gray-235: rgb(235, 235, 235);
    --gray-245: rgb(245, 245, 245);
    --error-text-color: red;
}

body {
    font-size: var(--font-size-14);
}

h2 {
    margin-top: 0;
    font-size: var(--font-size-20);
}

input {
    box-sizing: border-box;
}

.order-screen-main {
    display: flex;
    max-width: 1024px;
    margin: auto;
    gap: 20px;
    padding: 20px;
}

.order-screen-left-container {
    flex: 1;
}

.order-screen-left-sub-container {
    box-shadow: 0px 0px 10px lightgray;
    padding: 20px;
    margin-top: 10px;
    min-height: 580px;
    position: relative;
}

.nav-forward-button {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    height: 44px;
    border: none;
    background: var(--button-color-1);
    color: white;
    cursor: pointer;
}

.nav-backward-button {
    position: absolute;
    left: 15px;
    bottom: 15px;
    background: none;
    border: 2px solid black;
    font-weight: bold;
    height: 44px;
    cursor: pointer;
}

.nav-forward-button:hover {
    background: var(--button-color-1-hover);
}

.nav-backward-button:hover {
    background: lightgray;
}

input[type="text"],
input[type="number"],
select {
    height: 40px;
}

select {
    background: var(--gray-235);
    border: none;
    padding: 10px;
    height: 40px;
}

select:hover {
    background: var(--gray-245);
}

.top-bottom-bordered {
    border: 1px solid lightgray;
    border-right: none;
    border-left: none;
    margin: 20px 0;
    padding: 10px 0;
}