:root {
    --space-between-fields-horz: 20px;
    --space-under-progress-bar: 25px;
    --large-container-padding: 15px;

    --field-width-1: 80px;
    --field-width-2: 100px;
    --field-width-3: 160px;
    --field-width-4: 300px;
    --field-label-width: 115px;

    --font-size-12: 0.75rem;
    --font-size-13: 0.813rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;

    --button-color-1: rgb(215, 39, 72);
    --button-color-1-hover: rgb(255, 64, 99);
    --facebook-color-1: rgb(50, 100, 175);
    --facebook-color-1-hover: rgb(72, 127, 209);
    --gray-235: rgb(235, 235, 235);
    --gray-245: rgb(245, 245, 245);
    --error-text-color: red;
    --success-color: rgb(63, 179, 63);

    --border-light: 1px solid lightgray;
}

body {
    font-size: var(--font-size-13);
}

h2 {
    margin: 0;
    font-size: var(--font-size-16);
    border-bottom: var(--border-light);
    padding-bottom: 10px;
}

input {
    box-sizing: border-box;
}

input[type="radio"] {
    accent-color: var(--button-color-1);
}

.error-text {
    color: var(--error-text-color);
    font-size: var(--font-size-13);
}

.order-screen-main {
    display: flex;
    max-width: 1024px;
    margin: auto;
    margin-top: 20px;
    gap: 20px;
    /* padding: 20px; */
}

.order-screen-left-container {
    flex: 1;
}

.order-screen-left-sub-container {
    box-shadow: 0px 0px 10px lightgray;
    padding: var(--large-container-padding);
    margin-top: var(--space-under-progress-bar);
    min-height: 610px;
    position: relative;
}

.nav-forward-button {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    height: 44px;
    border: none;
    background: var(--button-color-1);
    color: white;
    cursor: pointer;
}

.nav-backward-button {
    position: absolute;
    left: 15px;
    bottom: 15px;
    background: none;
    border: 2px solid black;
    font-weight: bold;
    height: 44px;
    cursor: pointer;
}

.nav-forward-button:hover {
    background: var(--button-color-1-hover);
}

.nav-backward-button:hover {
    background: lightgray;
}

.nav-forward-button:disabled {
    background: lightgray;
    cursor: initial;
}

input[type="text"],
input[type="number"],
input[type="password"],
select {
    height: 40px;
}

select {
    background: var(--gray-235);
    border: none;
    padding: 10px;
    height: 40px;
    width: var(--field-width-2);
}

select:hover {
    background: var(--gray-245);
}

button svg {
    pointer-events: none;
}

.top-bottom-bordered {
    border: 1px solid lightgray;
    border-right: none;
    border-left: none;
    margin: 20px 0;
    padding: 10px 0;
}

.top-bordered {
    border-top: var(--border-light);
}

.bottom-bordered {
    border-bottom: var(--border-light);
}

.no-border {
    border: none;
}

.money-base {
    font-weight: bold;
}

.money-big {
    font-size: var(--font-size-14);
}

.money-discount {
    color: var(--success-color);
}

.money-grand-total {
    color: var(--button-color-1);
}

.modal-main {
    background-color: rgba(0, 0, 0, 0.314);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 10;
    display: flex;
}

.modal-window {
    background-color: white;
    min-width: 200px;
    max-width: 315px;
    margin: auto;
    padding: var(--large-container-padding);
    position: relative;
}

.modal-x {
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.modal-info-container {
    margin-top: 20px;
    font-size: var(--font-size-16);
}

.mobile-only {
    display: none;
}
/* 
@media screen and (max-width: 1024px) {
    .order-screen-left-sub-container {
        min-height: 770px;
    }
} */