.shipping-info-main {
    display: flex;
    gap: 20px;
}

.shipping-info-small-fields {
    display: flex;
}

.shipping-info-small-fields input {
    width: 60px;
}

label {
    display: inline-block;
    width: 100px;
}

.shipping-radio-buttons label {
    display: inline;
}

#shipping-section-2,
#shipping-section-3,
#shipping-section-4 {
    display: flex;
    gap: var(--space-between-fields-horz);
}

#field-row-city .field-row-display-text,
#field-row-country .field-row-display-text,
#field-row-state .field-row-display-text {
    width: initial;
    margin-right: 10px;
}

#field-row-zipCode input {
    width: var(--field-width-1);
}

#field-row-city input,
#field-row-country input,
#field-row-state input {
    width: var(--field-width-2);
}

#field-row-addressTitle input,
#field-row-nameSurname input {
    width: var(--field-width-4);
}

#field-row-address {
    display: flex;
    align-items: center;
}

#field-row-address .field-row-input-container {
    flex: 1;
}

#field-row-address input {
    width: 100%;
    box-sizing: border-box;
}

/* #field-row-cellNumber {
    margin-right: 170px;
} */

#field-row-cellCountryCode input,
#field-row-telephoneCountryCode input {
    width: var(--field-width-1);
}

#field-row-cellCountryCode .field-row-input-container,
#field-row-telephoneCountryCode .field-row-input-container {
    display: inline-block;
}

.shipping-method-name {
    display: inline-block;
    width: 100px;
}

.shipping-methods-container {
    margin-top: 25px;
}

/* @media screen and (max-width: 1024px) {
    #shipping-section-2 {
        display: block;
    }

    #field-row-city .field-row-display-text,
    #field-row-country .field-row-display-text,
    #field-row-state .field-row-display-text {
        width: var(--field-label-width);
        margin-right: initial;
    }

    #field-row-zipCode input,
    #field-row-city input,
    #field-row-country select,
    #field-row-state input {
        width: var(--field-width-4);
    }
} */